@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root{
    --dk-blue: #18122B;
    --lt-blue: #393053;
    --lt-blue2: #443C68;
    --vb-blue: #635985;
    --vb-blue2: #5b6478;

    --vb-yellow: #F7E987;

    --pl-white: #e4e8ea;

    --vb-cyan: #445D48;
    --vb-cyan2: #168123;

    --dk-text: #001524;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(231deg, rgba(24, 18, 43, 1) 0%, rgba(57, 48, 83, 1) 48%, rgba(99, 89, 133, 1) 100%);
}
.container{
    width: 90%;
    max-width: 450px;
}

h1{
    color: var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}


.display-container{
    position: relative;
    /* background-color: var(--dk-blue); */
    background-color: var(--dk-text);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-blue2);
    margin: 1rem 0;
    padding-top: 0.35rem;
}

.display{
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;    
}

.display::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--vb-yellowS);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.copyBtn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.copiedMsg{
    position: absolute;
    background-color: var(--vb-blue2);
    color: var(--vb-yellow);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.copiedMsg.active{
    opacity: 1;
    transform: scale(1);
}

.input-container{
    width: 100%;
    background-color: var(--dk-text);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid var(--lt-blue2);
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1){
    color: var(--pl-white);
    font-size: 1.5rem;
}
.length-container p:nth-child(2){
    color: var(--vb-yellow);
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color: var(--pl-white);
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateBtn{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--lt-blue2);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 500;
    font-size: 1.25rem;
    cursor: pointer;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap:0 1rem;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-blue);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: var(--vb-blue);
}

.check input:checked::before{
    content: '✓';
    position: absolute;
    color: var(--pl-white);
    font-size: 1.05rem;
    font-weight: 500;
    left: 17%;
    top: -3.5px;
    transform: translateY(4%);
    
}

.check label{
    color: var(--pl-white);     
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.slider{
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: #8e8989a3;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--vb-blue2), var(--lt-blue2));
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;

}
.slider::-moz-range-thumb{
    position: relative;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;

}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-text);
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
}
.slider::-moz-range-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-text);
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
}